/ ActiveRecordを継承してないため、本来はmodelには何も書かないがフォームオブジェクトで書いているため、ActiveRecordを継承したmodelを使用したフォームと同じ書き方をする。
= form_with model: search_form, url: search_posts_path, method: :get, scope: :q, class: 'form-inline my-2 my-lg-0 mr-auto',local: true do |f|
  = f.search_field :body, class: 'form-control mr-sm-2',placeholder: '本文'
  = f.submit 'Search', class: 'btn btn-outline-success my-2 my-sm-0'